.main-menu {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding: 10px;
    color: white;
}

.menu-item {
    display: flex;
    width: 100%;
    height: 60px;
    color: white;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-style: solid;
}

