* {
  margin: 0;
  padding: 0;
}

.main-page {
  display: flex;
  min-height: calc(100vh - 285px);
  width: 100%;
  background-color: #000;
  flex-direction: row;

  &-menu {
      display: flex;
      z-index: 1;
  }

  &-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      overflow-x: hidden;
  }
}