
.main-gallery {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.gallery-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: #505050;
}
.gallery-row {
  display: flex;
  min-width: 100%;
  overflow-x: auto;
}
.gallery-item {
  display: flex;
  flex-direction: row;
  height: 100px;
  min-width: 150px;
  padding: 10px;
  margin: 10px;
  background-color: white;
  justify-content: center;
  align-items: center;
}