.main-spotlight {
  display: flex;
  align-items: flex-end;
  height: 100%;
  background-color: #888888;
  min-height: 240px;
  &-content {
    display: flex;
    justify-content: space-around;
    width: 400px;
    height: 60px;
    color: white;
    align-items: center;
    padding: 10px;
  }
}

.button {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-style: solid;
}